#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }

 .header {
    background-color: black;
    color: white;
    padding: 3px;
    margin-bottom: 2px;
 }